## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
res=7**4
print(res)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam!"
n=s.split(" ")
print(n)

['Hi', 'there', 'Sam!']

In [3]:
s="Hi there dad!"
n=s.split(" ")
print(n)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
v="The diameter of {planet} is {diameter} kilometers."
k=v.format(planet="Earth",diameter=12742)
print(k)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst =[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
Tuple is immutable,static,consumes less memory and List is mutable,dynamic,consumes more memory
Representation examle:
tuple=(1,2,3)
list=[1,2,3]

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [10]:
def domain(email):
  print(email.split('@')[-1])
email=input("please enter your email:>")
domain(email)

please enter your email:>kavisha490@gmail.com
gmail.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [12]:
def find(s):
  if'dog' in s.lower():
    print("True")
  else:
      print("False")
s=input("Please enter a string:")
find(s)

Please enter a string:vikkiDoGgy
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [13]:
def countdogs(s):
  count=0
  for word in s.lower().split():
    if word=='dog' or word=='dogs':
      count=count+1
      print(count)
s=input("Enter your string:")
countdogs(s)

Enter your string:my Dog is shine and is my favourite dog
1
2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [14]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print("Enter the speed:\n")
speed=int(input())
print("Enter your birthday:(in DD/MM/YYYY format)\n")
is_birthday=str(input())
caught_speeding(speed,is_birthday)

Enter the speed:

80
Enter your birthday:(in DD/MM/YYYY format)

22/11/2001

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [15]:
e=0
print("Employees Salary")
employee=[30000, 25000, 20000, 15000, 27500]
for i in employee:
  print(i)
  e=e+i
print("Total Salary Expenditure:",e)

Employees Salary
30000
25000
20000
15000
27500
Total Salary Expenditure: 117500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [16]:
def Merge(d1, d2):
    res = {**d1, **d2}
    return res  
d1 = {'EmpName': 'kavi','Empid':104021, 'Basicpay': 50000}
d2 = {'depname': 'analyst', 'depid': 104}
final_d = Merge(d1, d2)
print(final_d)

{'EmpName': 'kavi', 'Empid': 104021, 'Basicpay': 50000, 'depname': 'analyst', 'depid': 104}